$color-1 : #ea9f27;
$color-2 : #6b7dd3;
$color-3 : #2c48d3;
$color-4 : #132277;
$color-5 : #fcfcfc;
$color-6 : #030423;
$color-7 : #ececed;
$color-8 : #b7b7bd;
$color-9 : #72737e;
$color-10 : #363743;
$color-11 : #ffffff;
$color-12 : #ffffff;
$color-13 : #ffffff;
$color-14 : #ffffff;
